{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-3">La légende d'un pirate appeler Niko Sparrow</h1>
        <div class="row introduction">
            <div class="col-sm-9">
                <p>
                    L’Épopée de Niko Sparrow

Dans les eaux tumultueuses de l’océan, le nom de Niko Sparrow résonnait comme une légende. Capitaine du navire fantôme L’Éternité, il était connu non seulement pour sa ruse et son courage, mais aussi pour sa quête incessante de la cité perdue de Poséidon.
                </p>
                <p>L’histoire commence dans une taverne enfumée du port de Tortuga, où Niko, avec son chapeau emplumé et son regard perçant, dévoile son plan à son équipage fidèle. “Mes amis,” dit-il, “le temps est venu de chercher la cité de Poséidon, où les richesses dépassent l’imagination. Mais ce n’est pas pour l’or que nous partons, c’est pour l’aventure qui inscrira nos noms dans l’histoire!”
                </p>
            </div>
            <div class="col-sm-3">
                <img class="sparrow" src="{{ asset('images/Niko.png') }}" alt="Jack Sparrow">
            </div>
            <div class="text-center">
                <img class="compass" src="{{ asset('images/compass.png') }}" alt="compass">
            </div>
            <div>
                <p>Le voyage était semé d’embûches. Des tempêtes furieuses, des monstres marins et des pirates rivaux convoitant la même gloire. Mais Niko, avec son compas magique hérité d’une sorcière des mers, naviguait avec une précision surnaturelle. Chaque étoile, chaque vague le rapprochait de son but ultime.
                </p>

                 <p>Le voyage était semé d’embûches. Des tempêtes furieuses, des monstres marins et des pirates rivaux convoitant la même gloire. Mais Niko, avec son compas magique hérité d’une sorcière des mers, naviguait avec une précision surnaturelle. Chaque étoile, chaque vague le rapprochait de son but ultime.
                </p>

                <p>Après des mois en mer, l’équipage fatigué commençait à douter. Mais Niko, jamais découragé, les galvanisait avec des histoires de cités englouties et de dieux de l’océan. Et puis, un matin brumeux, alors que le soleil perçait à peine l’horizon, ils la virent. La cité de Poséidon, avec ses tours d’or et ses jardins de corail, émergeait des profondeurs.</p>
                
                <div class="text-center">
                <img class="compass" src="{{ asset('images/navire.png') }}" alt="navire">
            </div>
                <p>Niko Sparrow et son équipage explorèrent la cité, découvrant des trésors inestimables et des artefacts anciens. Mais ce qu’ils trouvèrent de plus précieux, ce fut la sagesse des mers, un savoir ancien qui leur enseigna le respect de l’océan et de ses mystères.</p>

                <p>La légende de Niko Sparrow grandit encore plus ce jour-là, non pas comme un pirate avide, mais comme un aventurier qui avait atteint l’objectif ultime, non pour la gloire personnelle, mais pour l’aventure et la découverte. Et la cité de Poséidon devint le chapitre le plus éblouissant de son épopée.</p>

                 <p class="chatgpt">Histoire créer par Copilot.</p>
            </div>
        </div>
    </div>
{% endblock %}
