<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Checkpoint 3 PHP
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" sizes="24x24" href="{{ asset('images/favicon.ico' )}}">

		{% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			{% include '_navbar.html.twig' %}
		</header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}">
								<p style="color:red">{{ message }}</p>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% block body %}{% endblock %}
		<!-- Latest compiled and minified CSS & JS -->

	</body>
</html>
